{% extends "Base.html" %}

{% block content %}
<div class=" flex justify-center h-14 py-4 mt-8">
    <h5 class="text-cyan-800 text-6xl font-bold">Puddle</h5>
</div>
<div class="container mx-auto mt-8 ">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 ">
        <!-- Product Card -->
        {% for i in items %}
        <a href="{% url 'item:detail' i.id %}">
        <div class="bg-white p-6 rounded-lg transition-transform transform hover:-translate-y-2 shadow-2xl">
            <img src="{{i.image.url}}" alt="Product Image" class="w-full h-48 object-cover mb-4 rounded-md">
            <h2 class="text-xl font-bold mb-2 text-cyan-800">{{i.name}}</h2>
           
            <p class="text-cyan-800 mb-4 font-bold">Price : ₹{{i.price}}</p>
           
           
        </div>
    </a>
        {% endfor %}
        <!-- Repeat similar blocks for other products -->

    </div>
</div>
{% endblock content %}